    {{!-- Footer content goes here --}}
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-logo">
                        <a href="#">
                            {{#if @site.logo}}
                                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                                {{/if}}
                        </a>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="fooer-links">
                        <ul>
                            <!-- Start navigation -->
                                {{#if @site.navigation}}
                                    {{navigation}}
                                {{/if}}
                                
                                <!-- End navigation -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="fooer-links">
                        <ul>
                            {{#if @site.secondary_navigation}}
                                {{navigation type="secondary"}}
                            {{/if}}
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="fooer-links">
                        <ul>
                            {{#if @site.facebook}}
                                <li>
                                    <a href="{{facebook_url @site.facebook}}">
                                        <i aria-hidden="true" class="fab fa-facebook-square mr-2"></i>
                                        Facebook
                                    </a>
                                </li>
                            {{/if}}
                            <li>
                                <a href="#">
                                    <i aria-hidden="true" class="fab fa-instagram mr-2"></i>
                                    Instagram
                                </a>
                            </li>
                            {{#if @site.twitter}}
                                <li>
                                    <a href="{{twitter_url @site.twitter}}">
                                        <i aria-hidden="true" class="fab fa-twitter-square mr-2"></i>
                                        Twitter
                                    </a>
                                </li>
                            {{/if}}
                            <li>
                                <a href="#">
                                    <i aria-hidden="true" class="fab fa-youtube mr-2"></i>
                                    YouTube
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i aria-hidden="true" class="fas fa-mail-bulk mr-2"></i>
                                    Newsletter
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
   </footer>
    <!-- scripts -->
    <script type=" text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js "></script>
    <script type="text/javascript " src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js "></script>
    <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js "></script>
    
    <script>
        $(document).ready(function() {
            $(".video-slider ").owlCarousel({
                autoPlay: 3000,
                items:1,
                nav:true,
                dots:false,
                navText: ["<img src='images/arrow-left.png'>","<img src='images/arrow-next.png'>"]

            });
        });
    </script>
