
    {{!-- Navigation --}}
   <section class="innerbanner">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <header>
                       <div class="main-logo">
                           <a href="#">
                               {{#if @site.logo}}
                                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                                {{/if}}
                           </a>
                       </div>
                       <div class="main-manu">
                           <div class="main-manu">
                           <div class="mobile-btn">
                               <span class="sr-onlys"></span>
                               <span class="sr-onlys"></span>
                               <span class="sr-onlys"></span>
                           </div>
                           <ul class="header_nav">
                                <!-- Start navigation -->
                                {{#if @site.navigation}}
                                    {{navigation}}
                                {{/if}}
                                
                                <!-- End navigation -->
                            </ul>
                       </div>
                   </header>
                   <div class="seprator-row">
                       <div class="seprator-column"></div>
                       <div class="seprator-column1"></div>
                       <div class="seprator-column2"></div>
                   </div>
               </div>
           </div>