{{!-- Navigation --}}

          

    

    <!-- Loop through the Secondary navigation items -->
    {{#if isSecondary}}
        {{#foreach navigation}}
            <li>
            <a href="{{url absolute="true"}}">
                <i aria-hidden="true" class="fas fa-chevron-right mr-2"></i>
                {{label}}
            </a>
        </li>
        {{/foreach}}
    {{else}}
        <!-- Loop through the Primary navigation items -->
        {{#foreach navigation}}
            <li>
                <a class="{{#if current}} active{{/if}}" href="{{url absolute="true"}}">
                    <i aria-hidden="true" class="fas fa-chevron-right mr-2"></i>
                    {{label}}
                </a>
            </li>
        {{/foreach}}
        <!-- End the loop -->    
    {{/if}}
                     

    {{!--End Navigation --}}