<div class="col-md-4">
    <div class="blog-column">
        <a class="cst_a_tag" href="{{url}}"><div class="blog-image" style="background-image: url('{{img_url feature_image}}');"></div></a>
            <div class="blog-content text-center">
                    <a class="cst_a_tag" href="{{url}}"><h3>{{title}}</h3></a>
                <div class="blog-date">
                    <span>{{date format="DD MMM, YYYY"}}</span>
                    {{!-- <span>No Comments</span> --}}
                </div>
                <p>{{content characters="114"}}</p>
            <a href="{{url}}">Read More »</a>
        </div>
    </div>
</div>