<!DOCTYPE html>
<html lang="{{@site.locale}}">

    <head>
        <title>{{meta_title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        {{!-- Custom Styles --}}
        <link type="text/css" href="{{asset "css/styles.css"}}" rel="stylesheet">
        <link type="text/css" href="{{asset "css/style.css"}}" rel="stylesheet">
        {{!-- Dynamic header content for SEO, meta tags, code injection etc --}}
        {{ghost_head}}
    </head>
    <body>
        {{> header}}

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
        
        {{> footer}}
        
        <script>
        $(document).ready(function() {
            $(".video-slider ").owlCarousel({
                autoPlay: 3000,
                items:1,
                nav:true,
                dots:false,
                navText: ["<img src='images/arrow-left.png'>","<img src='images/arrow-next.png'>"]

            });
            $('.mobile-btn').click(function(){
                $('.main-manu ul').slideToggle();
            });
        });
    </script>

    </body>
    {{ghost_foot}}
</html>