{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}

           <div class="row">
               <div class="col-md-12">
                   <div class="banner-title text-center">
                       <h2>Blog</h2>
                   </div>
               </div>
           </div>
       </div>
   </section>
      <section class="blogs">
       <div class="container">
           <div class="row">
                {{#foreach posts}}

                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}

                {{/foreach}}
           </div>
       </div>
   </section>
   <div class="five-seprator">
       <div class="five-1"></div>
       <div class="five-2"></div>
       <div class="five-3"></div>
       <div class="five-4"></div>
       <div class="five-5"></div>
   </div>
