{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
{{#page}}

          <div class="row">
               <div class="col-md-12">
                   <div class="banner-title text-center">
                       <h2>Contact</h2>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <section class="contact">
        <div class="container">
            <div class="inner-sub-title text-center">
                    {{content}}
            </div>
                    
        </div>
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <div class="inner-sub-title">
                       <h3>Get in touch</h3>
                       <h2>contact us</h2>
                       <img src="{{asset "assets/images/underline.png"}}"/>
                   </div>
                   <div class="contact-list">
                       <ul>
                           <li>
                               <a href="#">
                                    <i aria-hidden="true" class="fas fa-user"></i>
                                    <span>Manager:</span> Amy Smith
                               </a>
                           </li>
                           <li>
                                <a href="#">
                                    <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                    <span>Phone:</span>  1300 555 555
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i aria-hidden="true" class="fas fa-at"></i>
                                    <span>Email:</span> admin@homeschoolkit.com
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i aria-hidden="true" class="fas fa-at"></i>
                                    <span>Location:</span>  125 Learning St,  Suburb 5555
                                </a>
                            </li>
                            
                       </ul>
                   </div>
                   <div class="contact-social">
                       <ul>
                           <li>
                               <a href="">
                                   <i class="fab fa-facebook"></i>
                               </a>
                           </li>
                           <li>
                                <a href="">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                       </ul>
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="contact-map">
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near" title="London Eye, London, United Kingdom" aria-label="London Eye, London, United Kingdom"></iframe>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <section class="newsletter">
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <div class="newsletter-row">
                        <div class="email-icon">
                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                        </div>
                        <div class="newsletter-content">
                            <h3>Newsletter</h3>
                            <p>Join our newsletter for the latest news and resources.</p>
                        </div>    
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="newsletter-btn text-center">
                       <a href="#" class="btn btn-green">Sign Up</a>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <div class="five-seprator">
       <div class="five-1"></div>
       <div class="five-2"></div>
       <div class="five-3"></div>
       <div class="five-4"></div>
       <div class="five-5"></div>
   </div>
   
{{/page}}