{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
{{#page}}
<div class="row banner-content">
               <div class="col-md-6">
                   <div class="home-banner">
                       <h6>Download Instantly</h6>
                       <h4>Educational Resources</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="banner-img">
                       <img src="{{asset "assets/images/home-banner.png"}}"/>
                   </div>
               </div>
           </div>
       </div>
   </section>
      <section class="sepra-columns">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <div class="art-row">
                       <div class="art-column text-center light-blue">
                           <img src="{{asset "assets/images/icon-art.png"}}"/>
                           <h6>The Arts</h6>
                       </div>
                       <div class="art-column text-center light-yellow">
                            <img src="{{asset "assets/images/icon-stem.png"}}"/>
                            <h6>STEM</h6>
                        </div>
                        <div class="art-column text-center light-gery">
                            <img src="{{asset "assets/images/icon-reading.png"}}"/>
                            <h6>Reading</h6>
                        </div>
                        <div class="art-column text-center light-pink">
                            <img src="{{asset "assets/images/icon-maths.png"}}"/>
                            <h6>Maths</h6>
                        </div>
                        <div class="art-column text-center light-pink-gery">
                            <img src="{{asset "assets/images/icon-online.png"}}"/>
                            <h6>Online</h6>
                        </div>
                        <div class="art-column text-center light-orange">
                            <img src="{{asset "assets/images/icon-sport.png"}}"/>
                            <h6>Sports</h6>
                        </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <section class="home-about">
       <div class="container">
           <div class="row">
                   <div class="col-md-6">
                         {{ content }}
                   </div>
                   <div class="col-md-6">
                       <div class="home-abouts">
                           <img src="{{asset "assets/images/home-about.png"}}"/>
                       </div>
                   </div>
           </div>
       </div>
   </section>
  
   <section class="our-history home-about-section">
    <div class="shape-above">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
             <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
         </svg>
     </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <div class="regiser-row">
                        <div class="regis-column">
                            <div class="regis-inner-column text-center bg-red">
                                <i aria-hidden="true" class="fas fa-user-plus"></i>
                                <h5>Register Here</h5>
                            </div>
                        </div>
                        <div class="regis-column">
                            <div class="regis-inner-column text-center bg-blue">
                                <i aria-hidden="true" class="fas fa-chalkboard-teacher"></i>
                                <h5>Teacher Resources</h5>
                            </div>
                        </div>
                        <div class="regis-column">
                            <div class="regis-inner-column text-center bg-yellow">
                                <i aria-hidden="true" class="fas fa-user-graduate"></i>
                                <h5>Student Hub</h5>
                            </div>
                        </div>
                        <div class="regis-column">
                            <div class="regis-inner-column text-center bg-green">
                                <i aria-hidden="true" class="fas fa-user-friends"></i>
                                <h5>For  Parents</h5>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-bottom">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
             <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
         </svg>
    </div>
</section>
<section class="our-article">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-sub-title text-center">
                    <h3>READ ABOUT</h3>
                    <h2>OUR ARTICLES</h2>
                    <img src="{{asset "assets/images/underline.png"}}">
                </div>
                <div class="article-row">
                    {{#get "posts" limit="3" filter="tags:article"}}
                        {{#foreach posts}}
                        <div class="article-column">
                            <div class="article-inner-column{{#has number="2"}} bg-yellow{{/has}}">
                                <div class="article-image" style="background-image: url('{{img_url feature_image}}');"></div>
                                <div class="article-content">
                                    <h6>{{title}}</h6>
                                    <img src="{{#has number="1,3"}}{{asset "assets/images/underline-yellow.png"}}{{else}}{{asset "assets/images/underline-blue.png"}}{{/has}}"/>
                                    <p>{{excerpt characters="110"}}</p>
                                    <a href="{{url}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        {{/foreach}}
                    {{/get}}
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-history testimonial-section">
    <div class="shape-above">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
             <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
         </svg>
     </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-sub-title text-center">
                    <h3>CUSTOMER</h3>
                    <h2>TESTIMONIALS</h2>
                    <img src="{{asset "assets/images/underline.png"}}">
                </div>
            </div>
            <div class="col-md-12">
                <div class="testimonial-section-row">
                    <div class="testimonial-repeater">
                        <div class="testimonial-content text-center">
                            <div class="testi-quote">
                                <i aria-hidden="true" class="fas fa-quote-left"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                            <h5>John Doe</h5>
                            <h6>Parent</h6>
                        </div>
                    </div>
                    <div class="testimonial-repeater">
                        <div class="testimonial-content text-center">
                            <div class="testi-quote">
                                <i aria-hidden="true" class="fas fa-quote-left"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                            <h5>John Doe</h5>
                            <h6>Parent</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-bottom">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
             <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
         </svg>
    </div>
</section>
<section class="download-article">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-sub-title text-center">
                    <h3>download</h3>
                    <h2>resources</h2>
                    <img src="{{asset "assets/images/underline.png"}}">
                </div>
                <div class="article-row">
                    {{#get "posts" limit="4" filter="tags:resource"}}
                        {{#foreach posts}}
                    <div class="article-column">
                        <div class="article-img" style="background-image: url({{img_url feature_image}});"></div>
                        <div class="article-contents">
                            <h5>{{title}}</h5>
                            <h6>{{{custom_excerpt}}}
</h6>
                            <a href="{{url}}">Download</a>
                        </div>
                    </div>
                    {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="newsletter-row">
                    <div class="email-icon">
                        <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                    </div>
                    <div class="newsletter-content">
                        <h3>Newsletter</h3>
                        <p>Join our newsletter for the latest news and resources.</p>
                    </div>    
                </div>
            </div>
            <div class="col-md-6">
                <div class="newsletter-btn text-center">
                    <a href="#" class="btn btn-green">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</section>
   <div class="five-seprator">
       <div class="five-1"></div>
       <div class="five-2"></div>
       <div class="five-3"></div>
       <div class="five-4"></div>
       <div class="five-5"></div>
   </div>
   {{/page}}