
{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
{{#page}}
           <div class="row">
               <div class="col-md-12">
                   <div class="banner-title text-center">
                       <h2>{{title}}</h2>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <section class="about">
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   {{content}}
                   <div class="about-content-row">
                       <div class="about-repeater yellow-circle">
                           <div class="about-icon">
                                <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                           </div>
                           <div class="about-repeater-content">
                               <h6>Professional educators</h6>
                               <p>Lorem ipsum dolor sit amet.</p>
                           </div>
                       </div>
                       <div class="about-repeater green-circle">
                        <div class="about-icon">
                             <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                        </div>
                        <div class="about-repeater-content">
                            <h6>Professional educators</h6>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="about-repeater blue-circle">
                        <div class="about-icon">
                             <i aria-hidden="true" class="fas fa-globe-asia"></i>
                        </div>
                        <div class="about-repeater-content">
                            <h6>STUDENTS FROM AROUND THE WORLD</h6>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="about-repeater">
                        <div class="about-icon">
                             <i aria-hidden="true" class="far fa-calendar-check"></i>
                        </div>
                        <div class="about-repeater-content">
                            <h6>MONTHLY FREE RESOURCES</h6>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                   </div>
               </div>
               <div class="col-md-6">
                    <div class="about-img">
                        <img src="{{asset "assets/images/about.png"}}"/>
                    </div>
               </div>
           </div>
       </div>
   </section>
   <section class="our-history">
       <div class="shape-above">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
            </svg>
        </div>
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <div class="our-history-row">
                       <div class="history-column" style="    background-image: url({{asset "assets/images/sisters-drawing-ZVSPNX9.jpg"}});"></div>
                       <div class="history-content">
                            <div class="inner-sub-title">
                                <h3>WE ARE</h3>
                                <h2>HOME SCHOOL</h2>
                                <img src="{{asset "assets/images/underline.png"}}"/>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus eros at ex laoreet.</p>
                            <ul>
                                <li>
                                    <i aria-hidden="true" class="far fa-dot-circle mr-2"></i>Aenean hendrerit neque
                                </li>
                                <li>
                                    <i aria-hidden="true" class="far fa-dot-circle mr-2"></i>Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    <i aria-hidden="true" class="far fa-dot-circle mr-2"></i>Aenean hendrerit neque
                                </li>
                                <li>
                                    <i aria-hidden="true" class="far fa-dot-circle mr-2"></i>Lorem ipsum dolor sit amet
                                </li>
                            </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="shape-bottom">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
            </svg>
       </div>
   </section>
   <section class="our-feature">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                    <div class="inner-sub-title text-center">
                        <h3>ABOUT</h3>
                        <h2>OUR FEATURES</h2>
                        <img src="{{asset "assets/images/underline.png"}}">
                    </div>
               </div>
           </div>
           <div class="row">
               <div class="col-md-6">
                   <div class="feature-column yellow-column">
                       <div class="feature-column-img">
                            <i aria-hidden="true" class="fas fa-star"></i>
                       </div>
                       <div class="feature-column-content">
                           <h5>All our students are stars</h5>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                       </div>
                   </div>
               </div>
               <div class="col-md-6">
                    <div class="feature-column green-column">
                        <div class="feature-column-img">
                            <i aria-hidden="true" class="far fa-file-alt"></i>
                        </div>
                        <div class="feature-column-content">
                            <h5>1000'S OF WORKSHEETS</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-column blue-column">
                        <div class="feature-column-img">
                            <i aria-hidden="true" class="fas fa-pencil-ruler"></i>
                        </div>
                        <div class="feature-column-content">
                            <h5>SUPPLIES SOLD ONLINE</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-column pink-column">
                        <div class="feature-column-img">
                            <i aria-hidden="true" class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <div class="feature-column-content">
                            <h5>All our students are stars</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                        </div>
                    </div>
                </div>
           </div>
       </div>
   </section>
       <section class="our-history vision testimonial-section">
    <div class="shape-above">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
             <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
         </svg>
     </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-sub-title text-center">
                    <h3>OUR</h3>
                    <h2>VISION</h2>
                    <img src="{{asset "assets/images/underline.png"}}">
                </div>
            </div>
            <div class="col-md-12">
                <div class="vision-rows">
                    <div class="quot-top">
                        <i aria-hidden="true" class="fas fa-quote-left"></i>
                    </div>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse lobortis libero sed arcu aliquet aliquam. </p>
                    <div class="quot-bottom">
                        <i aria-hidden="true" class="fas fa-quote-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-bottom">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
             <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
         </svg>
    </div>
</section>
   <section class="our-teacher">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                    <div class="inner-sub-title text-center">
                        <h3>OUR</h3>
                        <h2>TEACHERS</h2>
                        <img src="{{asset "assets/images/underline.png"}}">
                    </div>
               </div>
           </div>
           <div class="row feature-rows">
               {{#get "authors"  limit="3"}}
                {{! Loop through our authors }}
                    {{#foreach authors}}
                    <div class="col-md-4">
                            <div class="feature-columns">
                                <div class="feature-img" style="background-image: url({{profile_image}});"></div>
                            </div>
                            <div class="feature-content text-center">
                                <div class="inner-sub-title text-center">
                                    
                                    <h2>{{name}}</h2>
                                    <h3>Grade 2</h3>
                                    <img src="{{asset "assets/images/underline-yellow.png"}}">
                                </div>{{bio}}</p>
                                <div class="feature-social">
                                    <ul>
                                        <li>
                                            <a href="{{facebook }}">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ twitter}}">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                {{/foreach}}
               {{/get}}
           </div>
       </div>
   </section>
   <section class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="newsletter-row">
                        <div class="email-icon">
                            <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                        </div>
                        <div class="newsletter-content">
                            <h3>Newsletter</h3>
                            <p>Join our newsletter for the latest news and resources.</p>
                        </div>    
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter-btn text-center">
                        <a href="#" class="btn btn-green">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <div class="five-seprator">
       <div class="five-1"></div>
       <div class="five-2"></div>
       <div class="five-3"></div>
       <div class="five-4"></div>
       <div class="five-5"></div>
   </div>
    {{/page}}