{{!< default}}
{{#post}}
{{#match @page.show_title_and_feature_image}}

<div class="row">
                <div class="col-md-12">
                    <div class="banner-title text-center">
                        <h2>POST: {{title}}</h2>
                    </div>
                </div>
            </div>
       </div>
   </section>
   <section class="single-blog">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <div class="blog-detail">
                    <div class="blog-images">
                        <img class="cst_fea_img" src="{{img_url feature_image}}"/>
                        <div class="inner-sub-title text-center">
                             
                             <h2>{{title}}</h2>
                             <img src="{{asset "assets/images/underline.png"}}"/>
                         </div>
                    <ul class="cst-post-info">
                            <li class="cst-inline-item" itemprop="datePublished">
                                <span class="list-icon"><i aria-hidden="true" class="fas fa-calendar"></i>							</span>
                                <span class="type-date">{{date format="MMM DD, YYYY"}}</span>
                        </li>
                        <li class="cst-inline-item" itemprop="about">
                            <span class="list-icon"><i aria-hidden="true" class="fas fa-tags"></i>
                            {{#get "tags"}}
                                {{! Loop through our featured posts }}
                                {{#foreach tags}}
                                    <span class="type-tags"><span class="post-info__terms-list">{{name}}</span>
                                {{/foreach}}
                            {{/get}}
                            
                        </li>
				    </ul>
                         <div class="single-blogs cst_content">
                             <p>{{content}}</p>
                         </div>
                    </div>
                    <div class="feature-social">
                        <div class="inner-sub-title text-center">
                            <h3>SHARE THIS POST</h3>
                        </div>
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://plus.google.com/share?url={{url absolute="true"}}">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://pinterest.com/pin/create/button/?url={{url absolute="true"}}{{#if feature_image}}&media={{@site.url}}{{img_url}}{{/if}}&description={{excerpt words="20"}}">
                                                <i class="fab fa-pinterest"></i>
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <a href="mailto:someone@example.com">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" onClick="window.print()">
                                                <i class="fas fa-print"></i>
                                            </a>
                                        </li>
                                    </ul>
                    </div>
                    <div class="divider-separator">
                        <div class="cst_separator">
                        </div>
                        {{#primary_author}}
                        <div class="author-box">
							<div class="author-box__avatar">
					            <img src="{{profile_image}}" alt="admin">
				            </div>
                            <div class="inner-sub-title text-center cst_blck">
                            <h3>{{name}}</h3>
                        </div>
		                </div>
                        <div class="cst_separator">
                        </div>
                        {{/primary_author}}
                    </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <div class="five-seprator">
       <div class="five-1"></div>
       <div class="five-2"></div>
       <div class="five-3"></div>
       <div class="five-4"></div>
       <div class="five-5"></div>
   </div>
   {{/match}}
   {{/post}}