/* Added By me */
.cst_a_tag{
    display: unset;
}
.header_nav i.fas.fa-chevron-right.mr-2 {
    display: none;
}
.contact-map iframe {
    height: 428px;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #207AB4;
}
section.single-blog {
    padding-top: 5%;
}
.single-blogs.cst_content {
    color: rgb(0 0 0 / 0.5);
    font-weight: 400;
}
.blog-images .inner-sub-title h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}
img.cst_fea_img {
    border-radius: 20px 20px 20px 20px;
}


ul.cst-post-info {
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

i.fas.fa-calendar {
    color: #207AB4;
    font-size: 15px;
}

i.fas.fa-tags {
    color: #207AB4;
    font-size: 15px;
}

span.type-date {
    padding-left: 10px;
}

span.post-info__terms-list {
    padding-left: 10px;
}

li.cst-inline-item {
    margin-right: calc(39px/2);
    margin-left: calc(39px/2);
    font-family: "Dosis", Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.single-blog .feature-social {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-bottom: 2%;
}
.single-blog .inner-sub-title.text-center {
    font-weight: 700;
    padding-right: 4%;
    padding-top: 2%;
}
.divider-separator {
    padding-bottom: 4%;
}
.cst_separator {
    margin: 0 auto;
    max-width: 800px;
    /* padding: 28px 0px; */
    width: 100%;
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color);
    --divider-border-style: double;
    --divider-color: #ECECEC;
    --divider-border-width: 2px;
}
.cst_blck h3{
    color: #464646;
}
.author-box__avatar {
    width: 100px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
    padding: 1%;
}
.inner-sub-title.text-center.cst_blck {
    padding: 0%;
}
.author-box {
    padding: 2% 0%;
}
.kg-width-full img,
.kg-width-wide img{
    /* required by gcsan to properly validate the theme */
}