@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/poppins-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins-semibold';
    src: url('../fonts/poppins-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/poppins-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'poppins-regular';
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a,
span {
    color: inherit;
    display: inline-block;
}
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
}
p{
    font-family: 'poppins-regular';
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    margin: 0;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
.innerbanner {
    background-color: #57BDB9;
    background-image: url(../images/header-left.png), url(../images/header-right-1.png);
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: contain ,contain;
}

header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
}

.main-manu ul {
    display: flex;
}

.main-logo img {    max-width: 33%;}

.main-manu ul li a {
    font-family: "Dosis", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #464646;
    padding: 13px 20px;
}
.seprator-row {
    display: flex;
}

.seprator-column {
    width: 20%;
    height: 5px;
    background-color: #72dad6;
}

.seprator-column1 {
    width: 50%;
    height: 5px;
    background-color: #FBBB1B;
}

.seprator-column2 {
    width: 30%;
    height: 5px;
    background-color: #E96493;
}
.banner-title {
    padding: 30px;
}

.banner-title h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}
.blogs {
    padding: 50px 0;
}
.blog-image {
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 55px;
}
.blog-content h3 {
    color: #57BDB9;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 9px;
}
.blog-content {
    margin-top: 20px;
}
.blog-date span {
    color: #FBBB1B;
    letter-spacing: 0.8px;
    line-height: 1.3em;
    font-size: 12px;
    position: relative;
    padding: 0 10px;
}
.blog-date span:before {
    content: " / ";
    position: absolute;
    left: -6px;
    color: #BDBDBD;
}
.blog-date {
    margin-bottom: 10px;
}
.blog-date span:first-child:before {
    display: none;
}
.blog-content p {
    color: #464646;
    font-size: 17px;
    line-height: 1.5em;
    margin-bottom: 20px;
}
.blog-content a {
    color: #207AB4;
    font-size: 18px;
    text-transform: uppercase;
}
.blog-column {
    margin-bottom: 30px;
}
.five-seprator {
    display: flex;
}
.five-1 {
    width: 15%;
    background-color: #57BDB9;
    height: 5px;
}
.five-2 {
    width: 20%;
    background-color: #7DD5D2;
    height: 5px;
}
.five-3 {
    width: 30%;
    background-color: #FBBB1B;
    height: 5px;
}
.five-4 {
    width: 20%;
    background-color: #E96493;
    height: 5px;
}
.five-5 {
    width: 15%;
    background-color: #57BDB9;
    height: 5px;
}
.main-footer {
    padding: 50px 0;
}
.footer-logo img {max-width: 80%;}
.footer-logo p {
    margin-top: 0;
    margin-bottom: .9rem;
    font-size: 12px;
    color: #7a7a7a;
    font-weight: 400;
    line-height: 1.7;
    padding-right: 20px;
}
.fooer-links ul li a {
    font-size: 15px;
    text-transform: uppercase;
    color: #464646;
    padding: 5px;
}
.fooer-links ul li a i {
    color: #57BDB9;
}
.fooer-links ul li a:hover {
    color: #57BDB9;
}
.main-manu ul li a.active,.main-manu ul li a:hover {
    color: #57BDB9;
}

.contact {
    background-image: url(../images/bg-mixed.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 267px auto;
    padding: 100px 0;
}

.contact-map iframe {
    width: 100%;
    height: 428px;
}

.inner-sub-title h3 {
    color: #6EC1E4;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
}

.inner-sub-title h2 {
    font-size: 29px;
    text-transform: uppercase;
    color: #6EC1E4;
    font-weight: 700;
    margin: 10px 0;
}

.inner-sub-title img {
    max-width: 34%;
}

.inner-sub-title {
    margin-bottom: 20px;
}

.contact-list ul li a {
    padding: 5px 0;
}

.contact-list ul li a i {
    margin-right: 10px;
    color: #57BDB9;
    font-size: 14px;
}

.contact-list ul li a span {
    font-weight: 700;
}

.contact-list ul li a {
    font-weight: 300;
    color: #464646;
}

.contact-social ul {
    display: flex;
    margin-top: 20px;
}

.contact-social ul li a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #57BDB9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.contact-social ul li {
    margin-right: 15px;
}

.contact-list ul li a:hover {
    color: #5dbdb9;
}
.newsletter {
    background-color: #207AB4;
    background-image: url(../images/background-right2.png),url(../images/bg-left2.png);
    background-position: center left,top right;
    background-repeat: no-repeat;
    padding: 20px 0;
    background-size: 623px auto;
}

.newsletter-row {
    display: flex;
}

.email-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #57BDB9;
    color: #FFFFFF;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.email-icon i {
    font-size: 25px;
}
.newsletter-content h3 {
    color: #6EC1E4;
    font-size: 25px;
}

.newsletter-content p {
    color: #fff;
    font-size: 17px;
}

.newsletter .row {
    align-items: center;
}

.btn-green {
    color: #FFFFFF;
    background-color: #67D3CF;
    padding: 8px 40px;
    text-transform: uppercase;
    font-weight: 400;
}
.about {
    background-image: url(../images/shapes-cirlces.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 120px auto;
    padding: 50px 0;
}
.about-cotent p {
    color: #7a7a7a;
    margin-top: 0;
    margin-bottom: .9rem;
    font-weight: 300;
    line-height: 1.8;
    font-size: 14px;
}
.about-repeater {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.about-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 30px;
}
.yellow-circle .about-icon {
    background-color: #FBBB1B;
}
.green-circle .about-icon {
    background-color: #57BDB9;
}
.blue-circle .about-icon {
    background-color: #207AB4;
}
.blue-circle  .about-repeater-content h6 {
    color: #207AB4;
}
.about-repeater-content h6 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}
.about-repeater-content p {
    color: rgb(0 0 0 / 0.4);
}
.about-content-row .about-repeater:last-child {
    margin-bottom: 0;
}
.about-img img {
    margin: 0 auto;
    display: block;
}
.our-history {
    background-color: #F1F1F1;
    background-image: url(../images/bg-circles5.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 367px auto;
    background-attachment: fixed;
    padding: 180px 0;
    position: relative;
    
}

.our-history-row {
    display: flex;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
}

.history-column {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 330px; */
}

.history-content {
    width: 50%;
    padding: 30px;
}

.history-content p {
    color: rgb(0 0 0 / 0.5);
    font-weight: 300;
}

.history-content ul li {
    padding: 5px 0;
    color: rgb(0 0 0 / 0.6);
}

.history-content ul li i {
    color: #57BDB9;
    font-size: 14px;
}
.shape-above svg {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

section.our-history svg path {
    fill: #fff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.shape-bottom {
    position: absolute;
    bottom: -77px;
    width: 100%;
    height: 80px;
}

.shape-above {
    position: absolute;
    top: 0px;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.our-feature {
    background-image: url(../images/wiggle-circle.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 311px auto;
    padding: 50px 0;
}
.our-feature .inner-sub-title img ,
.our-teacher  .inner-sub-title img,
.download-article  .inner-sub-title img{
    margin: 0 auto;
    max-width: 15%;
}

.our-feature .inner-sub-title {
    margin-bottom: 40px;
}

.feature-column {
    display: flex;
    padding: 10px 10px 10px 10px;
    background-color: #F9F9F9;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.feature-column-img {
    width: 120px;
    min-width: 120px;
    margin-right: 30px;
    font-size: 35px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellow-column .feature-column-img {
    background-color: #FBBB1B;
}
.feature-column-img i {
    color: #fff;
}
.feature-column-content p{
    color:rgba(0, 0, 0, 0.4)
}
.green-column .feature-column-img {
    background-color: #57BDB9;
}
.blue-column .feature-column-img {
    background-color: #207AB4;
}
.pink-column .feature-column-img {
    background-color: #E96493;
}
.pink-column .feature-column-content h5 {
    color: #e96493;
 }
.feature-column-content h5 {
    margin-bottom: 10px;
}
.green-column .feature-column-content h5 {
    color: #5dbdb9;
}
.yellow-column .feature-column-content h5 {
    color: #f2bb16;
}
.blue-column .feature-column-content h5 {
    color: #3c7ab4;
}
.our-teacher {
    background-image: url(../images/bg-right3.png),url(../images/bg-left-3.png);
    background-position: top right,bottom left;
    background-repeat: no-repeat;
    background-size: 230px auto,153px auto;
    padding: 50px 0;
}

.feature-img {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
}

.feature-content p {
    color: rgb(0 0 0 / 0.4);
}

.feature-social ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-social ul li a {
    width: 35px;
    height: 35px;
    background-color: #6EC1E4;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.banner-img img {
    margin: 0 auto;
}

.banner-content {
    align-items: center;
    padding: 40px;
}

.home-banner h6 {
    color: #fff;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 5px #57BDB9;
    margin-bottom: 20px;
}

.home-banner h4 {
    color: #FFFFFF;
    text-shadow: 0px 0px 5px #57BDB9;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}

.home-banner p {
    color: #fff;
    font-size: 16px;
}
.art-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sepra-columns {
    background-color: #F1F1F1;
}

.art-column {
    width: calc(100% / 6);
    padding: 30px;
}

.art-column img {
    max-width: 46%;
    margin: 0 auto;
}
.light-blue {
    background-color: #CCEBEA;
    border-bottom: 2px solid #57BDB9;
}
.art-column h6 {
    color: #57BDB9;
    margin-top: 5px;
    font-weight: 600;
}
.light-yellow {
    background-color: #FDDD8D;
    border-bottom: 2px solid #FBBB1B;
}
.light-gery {
    background-color: #BCD7E8;
    border-bottom: 2px solid #207AB4;
}
.light-pink {
    background-color: #F4B1C9;
    border-bottom: 2px solid #E96493;
}
.light-orange {
    background-color: #FDDD8D;
    border-bottom: 2px solid #FBBB1B;
}
.light-pink-gery {
    background-color: #CCEBEA;
    border-bottom: 2px solid #57BDB9;
}
.home-about {
    padding: 50px 0;
    background-image: url(../images/shapes-cirlces.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 71px auto;
}
.home-abouts img {
    margin: 0 auto;
}
.our-history.home-about-section {
    background-color: #F1F1F1;
   background-image: url(../images/bg-left2.png),url(../images/background-right2.png);
   background-position: center left,bottom right;
   background-repeat: no-repeat;
   background-size: 541px auto,362px auto;
}
.regiser-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regis-column {
    /* width: 260px; */
    /* height: 260px; */
    /* border-radius: 50%; */
    padding: 0 20px;
}

.regis-inner-column {
    background-color: red;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* word-break: break-all; */
}

.bg-red {
    background-color: #E96493;
}

.bg-blue {
    background-color: #207AB4;
}

.bg-yellow {
    background-color: #FBBB1B;
}

.bg-green {
    background-color: #57BDB9;
}

.regis-inner-column i {
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
}

.regis-inner-column h5 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 60px;
}

.regiser-row .regis-column:nth-child(2n) {
    margin-top: 20px;
    position: relative;
    top: 50px;
}.our-article {
    padding: 60px 0;
    background-image: url(../images/over-circles-fade.png),url(../images/shapes-cirlces.png);
    background-repeat: no-repeat;
    background-size: 311px auto;
    background-position: top left,bottom right;
}

.article-row {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    width: 90%;
    margin: 0 auto;
}

.our-article .inner-sub-title img,
.testimonial-section .inner-sub-title img {
    margin: 0 auto;
    max-width: 171px;
}

.article-column {
    width: 33%;
    text-align: center;
    padding: 0 20px;
}

.article-image {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin:  0 auto 20px auto;
}

.article-inner-column {
    background-color: #57BDB9;
    border-radius: 15px;
    padding: 40px;
}
.article-content h6 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 1px;
}

.article-content img {
    max-width: 170px;
    margin: 10px auto 20px auto;
}

.article-content p {
    color: #fff;
}
.article-inner-column.bg-yellow {
    background-color: #FBBB1B;
}

.article-inner-column.bg-blue {
    background-color: #207AB4;
}
.article-inner-column.bg-yellow  a{
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.27);
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 3px;
    border-radius: 3px 3px 3px 3px;
    padding: 12px 30px 12px 30px;
    font-size: 12px;
}
.article-inner-column a{
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.27);
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 3px;
    border-radius: 3px 3px 3px 3px;
    padding: 12px 30px 12px 30px;
    font-size: 12px;
}
.article-inner-column.bg-blue a {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.27);
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 3px;
    border-radius: 3px 3px 3px 3px;
    padding: 12px 30px 12px 30px;
    font-size: 12px;
}
.our-history.testimonial-section {
    background-color: #57BDB9;
    background-image: url(../images/sisters-drawing-ZVSPNX9.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-history.testimonial-section:before {
    content: " ";
    position: absolute;
    background-color: rgb(87 189 185 / .5);
    width: 100%;
    top: 0;
    height: 100%;
}
.testimonial-section .inner-sub-title h3 {
    color: #fff;
}
.testimonial-section .inner-sub-title h2 {
    color: #fff;
}
.testimonial-section-row {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    /* background-color: rgba(255, 255, 255, 0.91); */
    justify-content: space-between;
}

.testimonial-repeater {
    width: 48%;
    /* position: relative; */
}

.testimonial-content {
    background-color: rgba(255, 255, 255, 0.91);
    padding: 40px;
    border-radius: 50px;
    position: relative;
}

.testi-quote {
    width: 50px;
    height: 50px;
    background-color: #57BDB9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
}

.testi-quote i {
    color: #fff;
}

.testimonial-content p {
    color: rgb(0 0 0 / 0.6);
    font-size: 16px;
    font-weight: 400;
}

.testimonial-content h5 {
    color: #57BDB9;
    font-weight: bold;
    font-size: 13px;
}

.testimonial-content h6 {
    color: #7A7A7A;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
.download-article {
    background-image: url(../images/bg-right3.png),url(../images/bg-left-3.png);
    background-position: top right,bottom left;
    background-repeat: no-repeat;
    background-size: 230px auto,153px auto;
    padding: 50px 0;
}
.article-img {
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #57BDB9;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.article-columns {
    width: calc(100% / 4);
    padding: 10px;
}

.article-contents {
        text-align: center;
        margin-top:10px;
}

.article-contents h5 {
    color: #57BDB9;
    font-family: "Dosis", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 1.5px;
}
.article-contents h6 {
    color: #57BDB9;
    font-family: "Dosis", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 1.5px;
    margin-top: 10px;
}
.article-contents a {
    padding: 5px 10px 5px 10px;
    background-color: #64ce70;
    display: block;
    color: #fff;
    margin-top: 14px;
    border-radius: 5px;
    font-size: 14px;
}
.mobile-btn {
    display: none;
}
.blog-images {max-width: 800px;margin: 0 auto;}

.blog-images .inner-sub-title img {
    margin: 0 auto;
    max-width: 180px;
}

.blog-images .inner-sub-title {
    margin-top: 20px;
}

.blog-images p {
    color: rgb(0 0 0 / 0.5);
    font-weight: 400;
}
.our-history.testimonial-section.vision {
    background-color: #57BDB9;
    background-image: url(../images/kids-hands-holding-colored-pencils-painting-on-art.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vision:before {
    /* content: " "; */
    position: absolute;
    background-color: #57BDB9;
    width: 100%;
    background-color: #57BDB9;
    top: 0;
    left: 0;
    height: 100%;
}

.vision-rows {
    background-color: rgba(255, 255, 255, 0.91);
    max-width: 990px;
    margin: 0 auto;
    padding: 60px;
    border-radius: 20px;
    position: relative;
}
.quot-top {
    width: 50px;
    height: 50px;
    background-color: #FBBB1B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: -14px;
    left: 30px;
}
.quot-bottom{
    width: 50px;
    height: 50px;
    background-color: #FBBB1B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    bottom: -14px;
    right: 30px;
}
.vision-rows p {
    font-family: "Shadows Into Light Two", Sans-serif;
    font-size: 27px;
    font-style: italic;
    color: #7a7a7a;
}
.contact .inner-sub-title.text-center {
    padding-bottom: 12px;
}

@media (max-width: 1152px) {
    .mobile-btn {
        display: flex;
        flex-direction: column;
    }
    
    .sr-onlys {
        width: 40px;
        height: 5px;
        background-color: #72dad6;
        margin-bottom: 5px;
    }
    
    .mobile-btn .sr-onlys:last-child {
        margin-bottom: 0;
    }
    .main-manu ul{
        display: none;
        position: absolute;
    left: 14px;
    top: 139px;
    background-color: #fff;
    width: 93%;
    z-index: 9;
    }
    .main-logo img {
        max-width: 53%;
    }
    .our-history-row,
    .art-row,
    .regiser-row,
    .article-row,
    .testimonial-section-row{
        flex-wrap: wrap;
    }
    .testimonial-repeater{
        margin-bottom: 20px;
    }
    .article-column,
    .testimonial-repeater{
        width: 100%;
        margin-bottom: 20px;
    }
    .article-image {
        width: 170px;
        height: 170px;
    }
    .regiser-row .regis-column:nth-child(2n) {
        margin: 20px 0;
        position: relative;
        top: 0;
    }
    .our-history{
        padding: 80px 0;
    }
    .art-column{
        width: calc(100% / 2);
    }
    .history-column{
        height: 250px;
        width: 100%;
    }
    .contact{
        padding: 30px 0;
    }
    .contact-map {
        margin-top: 30px;
    }
    .history-content{
        width: 100%;
    }
    
}

@media (max-width: 800px) {
    .contact .inner-sub-title.text-center {
        max-width: 100%;
    }
    .contact {
        background-size: 0 auto;
    }
}
@media only screen and (max-width: 1400px) and (min-width: 801px)  {
    .contact .inner-sub-title.text-center {
        max-width: 75%;
    }
}